@import '@material/react-card/index.scss';

.mdc-card {
  &--outlined {
    border: 0px solid white;
    margin: 0px 0px 30px;
    padding: 0px 12px;

    @include mdc-card-shape-radius(0px, 0px)
  }

  .mdc-card__actions {
    padding: 0;
    text-transform: uppercase;
    // TODO: fix colors with vars
    color: orange;
  }
}
