@import '@material/react-material-icon/index.scss';


.mdc-top-app-bar {
  &__menu-icon {
    &.material-icons {
      font-size: 1.9rem;
    }
  }

  .material-icons  {
    fill: #000000;
    color : #000000;
  }
}
