@import '@material/react-typography/index.scss';


.mdc-typography {
  &--headline6 {
    margin: 12px 0px;
    font-size: 24px;
    font-family: Calibre, Helvetica, Arial;
  }
  &--caption {
    margin: 20px 0px;
  }
  &--headline3{
    margin: 0px;
  }
  &--body1{
    margin: 0px 0px 45px;

    &--article-text {
      line-height : 35px;
    }
  }
}

.mdc-card--outlined {
  .mdc-typography--headline6 {
    margin-top: 0;
  }

  .mdc-typography--body2 {
    margin-top: 2px;
    line-height: 2;
    color: darken(white, 60%);
  }
}
